<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idade</title>
    <link rel="stylesheet" href="/assets/dist/css/scss/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
    <form action="" >
        <input type="date" name="userBirthday" id="inputDate">
        <input class="btn" type="button" value="Calcular" onclick="calcularIdade()">
    </form>
    <h3>Idade do usuário é:  <span class="idade-show" id="conteudo"></span> </h3>

    <script src="/assets/js/idade.js"></script>
</div>
</body>
</html>